<script type="text/javascript" src="/js/page/login.js"></script>
<div class="main-block page-login">
    <div class="main-left main-sub-block">
        <h2>Login</h2>
        <div class="comp-form">

            <div class="form-line"><label>Username: </label><input type="text" class="textbox role-login-user"></div>
            <div class="form-line"><label>Pass: </label><input type="password" class="textbox role-login-pass"></div>
            <div class="form-line-big"><input type="button" class="button button-def role-login" value="1"></div>

        </div>
    </div>
    <div class="main-right main-sub-block">
        <h2>Sigin</h2>
        <div class="comp-form">

            <div class="form-line"><label>Nome: </label><input type="text" class="textbox role-reg-user"></div>
            <div class="form-line"><label>Username: </label><input type="text" class="textbox role-reg-nick"></div>
            <div class="form-line"><label>Password: </label><input type="password" class="textbox role-reg-pass"></div>
            <div class="form-line"><label>Password: </label><input type="password" class="textbox role-reg-pass-rep"></div>
            <div class="form-line-big"><input type="button" class="button button-def role-reg" value="2"></div>

        </div>
    </div>
    <div class="clear"></div>
</div>
